body{
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App h2{
  color: rgb(121, 249, 249);
}
